
HR {
page-break-after: never;
}

.guidechange{
	margin-top: 6px;
	padding: 3px;
	background: #ffff00;
	font-size: 100%;
} 


.content {font-family:  Arial, Helvetica, sans-serif; color:#333333; font-size: 100%;}
.content a:link {color: #5A717B;}
.content a:visited {color: #5A717B;}
.content a:hover {color: #0000ff;}

.box1 {background-color: #767784; color: #ffffff; font-size: 110%; padding: 6px; text-align: center} 
.box1 a:link {color: #ffffff;}
.box1 a:visited {color: #ffffff;}
.box1 a:hover {color: #D6D6DA;}

.box2 {background-color: #767784; color: #ffffff; font-size: 110%; padding: 6px; text-align: center} 
.box2 a:link {color: #ffffff;}
.box2 a:visited {color: #ffffff;}
.box2 a:hover {color: #D6D6DA;}

.box3 {background-color: #767784; color: #ffffff; font-size: 110%; padding: 6px; text-align: center} 
.box3 a:link {color: #ffffff;}
.box3 a:visited {color: #ffffff;}
.box3 a:hover {color: #D6D6DA;}


.medtext {font-family:  Arial, Helvetica, sans-serif; color:#333333; font-size: 100%;}
.medtext a:link {color: #5A717B;}
.medtext a:visited {color: #5A717B;}
.medtext a:hover {color: #5A717B;}

.table_mooringsguide{
	background-image: url('Image/moorings/waterway_map_europe_bg.jpg');
	background-repeat: no-repeat;
}

.table_classified{
	background-image: url('Image/classified/classified_bg.jpg');
	background-repeat: no-repeat;
}

.table_underline{
	background-color: #ffffff;
	border-top: 0px solid #333333;
	border-right: 0px solid #333333;
	border-bottom: 1px dotted #333333;
	border-left: 0px solid #333333;
}
.table_admin_profile{
	border-top: 1px dotted #333333;
	border-right: 1px dotted #333333;
	border-bottom: 1px dotted #333333;
	border-left: 1px dotted #333333;
}
.table_introicons {color: #06A8D9; font-size: 130%; font-weight: bold; margin-left:0px; border-bottom: 0px solid #ffffff; border-top: 0px solid #cccccc; border-left: 0px solid #06A8D9; border-right: 0px solid #06A8D9;} 
.table_introicons a:link {color: #06A8D9;}
.table_introicons a:visited {color: #06A8D9;}
.table_introicons a:hover {color: #ff9933;}


.letter_footer{
	border-top: 1px solid #5A717B;
	font-size: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
	padding-left: 1px;
}

.table_register_dotted{
	font-size: 100%;
	background-color: #F7F7F7;
	padding: 8px;
	border-top: 1px dotted #666666;
	border-right: 1px dotted #666666;
	border-bottom: 1px dotted #666666;
	border-left: 1px dotted #666666;
	margin-top: 2px;
	margin-bottom: 2px;
}

.table_dotted{
	background-color: #ffffff;
	border-top: 0px dotted #333333;
	border-right: 0px dotted #333333;
	border-bottom: 1px dotted #333333;
	border-left: 0px dotted #333333;
}

.table_box_dotted{
	background-color: #ffffff;
	border-top: 1px dotted #333333;
	border-right: 1px dotted #333333;
	border-bottom: 1px dotted #333333;
	border-left: 1px dotted #333333;
}

.table_small_text{
	background-color: #ffffff;
	border-top: 1px dotted #333333;
	border-right: 1px dotted #333333;
	border-bottom: 1px dotted #333333;
	border-left: 1px dotted #333333;
	font-size: 100%;
	background-color: #cccccc;
}
.table_small_text a:link {color: #333333;}
.table_small_text a:visited {color: #333333;}
.table_small_text a:hover {color: #FAA637;}



.table_dotted a:link {color: #333333;}
.table_dotted a:visited {color: #333333;}
.table_dotted a:hover {color: #FAA637;}

.table_links{
	font-size: 100%;
	border-bottom: 1px solid #999999;
}
.table_links a:link {color: #333333;}
.table_links a:visited {color: #333333;}
.table_links a:hover {color: #FAA637;}

.table_login_menu{
	font-size: 100%;
	border-top: 1px solid #CCEEF7;
	border-right: 1px solid #CCEEF7;
	border-bottom: 1px solid #CCEEF7;
	border-left: 1px solid #CCEEF7;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	padding-left: 6px;
}
.table_login_menu a:link {color: #333333; text-decoration: none;}
.table_login_menu a:visited {color: #333333; text-decoration: none;}
.table_login_menu a:hover {background-color: #CCEEF7; color: #FAA637; text-decoration: none;}


.list_small{font-size: 100%; border-bottom: 1px;}
.list_small a:link {color: #333333;}
.list_small a:visited {color: #333333;}
.list_small a:hover {color: #FAA637;}

.list_small_member{background-color: #CCEEF7; font-size: 100%; border-bottom: 1px; padding: 4px;}
.list_small_member a:link {color: #333333;}
.list_small_member a:visited {color: #333333;}
.list_small_member a:hover {color: #FAA637;}

.list_small_underline {
	font-size: 100%;
	border-bottom: 1px solid #CCEEF7;
	padding: 2px;
}

.mooring_edit_underline {
	font-size: 100%;
	background-color: #CCEEF7;
	color: #333333;
	border-bottom: 8px solid #ffffff;
}
.table_stripe_odd_clear {background-color: #ffffff; color: #333333; font-size: 100%;} 
.table_stripe_odd_clear a:link {color: #333333;}
.table_stripe_odd_clear a:visited {color: #333333;}
.table_stripe_odd_clear a:hover {color: #FAA637;}

.table_stripe_odd {background-color: #DDDDDD; color: #333333; font-size: 100%;} 
.table_stripe_odd a:link {color: #333333;}
.table_stripe_odd a:visited {color: #333333;}
.table_stripe_odd a:hover {color: #FAA637;}

.table_stripe_even {background-color: #CCEEF7; color: #333333; font-size: 100%;} 
.table_stripe_even a:link {color: #333333;}
.table_stripe_even a:visited {color: #333333;}
.table_stripe_even a:hover {color: #FAA637;}

.table_stripe_hazard {background-color: #cc0000; color: #ffffff; font-size: 100%;} 
.table_stripe_hazard a:link {color: #ffffff;}
.table_stripe_hazard a:visited {color: #ffffff;}
.table_stripe_hazard a:hover {color: #FAA637;}



.table_stripe_lblue {background-color: #DDDDDD; color: #333333;	font-size: 100%;} 

.table_stripe_odd_strike {background-color: #DDDDDD;color: #999999;	font-size: 100%; text-decoration: line-through} 
.table_stripe_odd_strike a:link {color: #999999; text-decoration: line-through}
.table_stripe_odd_strike a:visited {color: #999999; text-decoration: line-through}
.table_stripe_odd_strike a:hover {color: #FAA637; text-decoration: line-through}
.table_stripe_even_strike {background-color: #CCEEF7; color: #999999; font-size: 100%; text-decoration: line-through} 
.table_stripe_even_strike a:link {color: #999999; text-decoration: line-through}
.table_stripe_even_strike a:visited {color: #999999; text-decoration: line-through}
.table_stripe_even_strike a:hover {color: #FAA637; text-decoration: line-through}


.table_stripe_odd_wn {background-color: #fffb94; color: #333333; font-size: 100%;} 
.table_stripe_odd_wn a:link {color: #333333;}
.table_stripe_odd_wn a:visited {color: #333333;}
.table_stripe_odd_wn a:hover {color: #FAA637;}
.table_stripe_even_wn {background-color: #FFFECC; color: #333333; font-size: 100%;} 
.table_stripe_even_wn a:link {color: #333333;}
.table_stripe_even_wn a:visited {color: #333333;}
.table_stripe_even_wn a:hover {color: #FAA637;}



.table_stripe_white {background-color: #ffffff; color: #333333;} 
.table_stripe_grey {background-color: #333333; color: #333333;} 
.table_stripe_blue {background-color: #00AADE; color: #333333;} 
.table_tint {background-color: #CCEEF7; color: #333333;} 
.table_tint a:link {color: #333333;}
.table_tint a:visited {color: #333333;}
.table_tint a:hover {color: #FAA637;}

.trailer {color: #333333; font-size: 100%; font-weight: normal; margin-left:6px; border-bottom: 8px solid #ffffff; border-top: 0px solid #cccccc; border-left: 0px solid #06A8D9; border-right: 0px solid #06A8D9;} 
.trailer a:link {color: #333333; text-decoration: none}
.trailer a:visited {color: #333333; text-decoration: none}
.trailer a:hover {color: #FAA637; text-decoration: none}
.qbox {
	border-top: thin solid #FFFFFF;
	border-right: thin solid #FFFFFF;
	border-bottom: thin none;
	border-left: thin solid #FFFFFF;
	padding: 4px;
	background-color: #DFEEC3;
}
.qbox a:link {color: #333333;}
.qbox a:visited {color: #333333;}
.qbox a:hover {color: #FAA637;}

.qboxsummary {
	border-top: thin solid #FFFFFF;
	border-right: thin solid #FFFFFF;
	border-bottom: thin none;
	border-left: thin solid #FFFFFF;
	padding: 3px;
	background-color: #00FFFF;

}

.next {
	text-align: right;
	font-size: xx-small;
	font-variant: small-caps;
	vertical-align: text-top;
}
.next a:link {color: #333333;}
.next a:visited {color: #333333;}
.next a:hover {color: #FAA637;}

.select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: lighter;
}

.qboxentry {
	vertical-align:text-top;
	text-align: right;
}
.formcontrol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: lighter;
}

