<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="general"
		label="com_waterways_guide_CONFIG_GENERAL_LABEL"
		description="com_waterways_guide_CONFIG_GENERAL_DESC"
	>
		<field name="spacer1" type="spacer" label="com_waterways_guide_CONFIG_SHORTCUTS_LABEL" description="com_waterways_guide_CONFIG_SHORTCUTS_DESC=" />
		
		<field name="contactpage" type="url" label="com_waterways_guide_CONFIG_SHORTCUTS_CONTACTPAGE_LABEL" description="com_waterways_guide_CONFIG_SHORTCUTS_CONTACTPAGE_DESC" class="input-xlarge" />
		<field name="eventsurl" type="url" label="com_waterways_guide_CONFIG_SHORTCUTS_EVENTSURL_LABEL" description="com_waterways_guide_CONFIG_SHORTCUTS_EVENTSURL_DESC" class="input-xlarge" />
		<field name="memberloginurl" type="url" label="com_waterways_guide_CONFIG_SHORTCUTS_MEMBERLOGINURL_LABEL" description="com_waterways_guide_CONFIG_SHORTCUTS_MEMBERLOGINURL_DESC" class="input-xlarge" />
		<field name="registerurl" type="url" label="com_waterways_guide_CONFIG_SHORTCUTS_REGISTERURL_LABEL" description="com_waterways_guide_CONFIG_SHORTCUTS_REGISTERURL_DESC" class="input-xlarge" />
		<field name="paypalreturn" type="url" label="com_waterways_guide_CONFIG_SHORTCUTS_PAYPALRETURN_LABEL" description="com_waterways_guide_CONFIG_SHORTCUTS_PAYPALRETURN_DESC" class="input-xlarge" />
		<field name="paypalthanks" type="url" label="com_waterways_guide_CONFIG_SHORTCUTS_PAYPALTHANKS_LABEL" description="com_waterways_guide_CONFIG_SHORTCUTS_PAYPALTHANKS_DESC" class="input-xlarge" />
		<field name="paypalcancel" type="url" label="com_waterways_guide_CONFIG_SHORTCUTS_PAYPALCANCEL_LABEL" description="com_waterways_guide_CONFIG_SHORTCUTS_PAYPALCANCEL_DESC" class="input-xlarge" />
		<field type="spacer" hr="true" />
		<field name="channel" type="text" label="com_waterways_guide_CONFIG_GENERAL_CHANNEL_LABEL" description="com_waterways_guide_CONFIG_GENERAL_CHANNEL_DESC" filter="integer" />
		<field name="VesselNoKeeperMID" type="text" label="com_waterways_guide_CONFIG_GENERAL_NOKEEPER_LABEL" description="com_waterways_guide_CONFIG_GENERAL_NOKEEPER_DESC" />
		<field name="Services_newmember" type="text" label="com_waterways_guide_CONFIG_GENERAL_SERVICES_NEWMEMBER_LABEL" description="com_waterways_guide_CONFIG_GENERAL_SERVICES_NEWMEMBER_DESC" />

	</fieldset>
	
	<fieldset name="financial"
		label="com_waterways_guide_CONFIG_FINANCIAL_LABEL"
		description="com_waterways_guide_CONFIG_FINANCIAL_DESC"
	>
		<field name="DBABankDetails" type="textarea" label="com_waterways_guide_CONFIG_FINANCIAL_DBABANKDETAILS_LABEL" description="com_waterways_guide_CONFIG_FINANCIAL_DBABANKDETAILS_DESC" />
		<field name="subamount" type="subform" label="com_waterways_guide_CONFIG_FINANCIAL_SUBAMOUNT_LABEL" description="com_waterways_guide_CONFIG_FINANCIAL_SUBAMOUNT_DESC" multiple="true" layout="joomla.form.field.subform.repeatable-table">
			<form>
				<field name="desc" type="text" label="com_waterways_guide_CONFIG_FINANCIAL_SUBAMOUNT_DESC_LABEL" description="com_waterways_guide_CONFIG_FINANCIAL_SUBAMOUNT_DESC_DESC" />
				<field name="memtype" type="text" label="com_waterways_guide_CONFIG_FINANCIAL_SUBAMOUNT_MEMTYPE_LABEL" description="com_waterways_guide_CONFIG_FINANCIAL_SUBAMOUNT_MEMTYPE_DESC" />
				<field name="n" type="text" label="com_waterways_guide_CONFIG_FINANCIAL_SUBAMOUNT_N_LABEL" description="com_waterways_guide_CONFIG_FINANCIAL_SUBAMOUNT_N_DESC" filter="float" />
				<field name="d" type="text" label="com_waterways_guide_CONFIG_FINANCIAL_SUBAMOUNT_D_LABEL" description="com_waterways_guide_CONFIG_FINANCIAL_SUBAMOUNT_D_DESC" filter="float" />
				
			</form>
		</field>
		<field name="baseorderno" type="text" label="com_waterways_guide_CONFIG_FINANCIAL_BASEORDERNO_LABEL" description="com_waterways_guide_CONFIG_FINANCIAL_BASEORDERNO_DESC" filter="integer" />
		<field name="ddformpath" type="url" label="com_waterways_guide_CONFIG_FINANCIAL_DDFORMPATH_LABEL" description="com_waterways_guide_CONFIG_FINANCIAL_DDFORMPATH_DESC" class="input-xxlarge" />
		
	</fieldset>

	<fieldset name="emails"
		label="com_waterways_guide_CONFIG_EMAILS_LABEL"
		description="com_waterways_guide_CONFIG_EMAILS_DESC"
	>
		<field name="adminemail" type="email" label="com_waterways_guide_CONFIG_EMAILS_ADMINEMAIL_LABEL" description="com_waterways_guide_CONFIG_EMAILS_ADMINEMAIL_DESC" validate="email" />
		<field name="guidesemail" type="email" label="com_waterways_guide_CONFIG_EMAILS_GUIDESEMAIL_LABEL" description="com_waterways_guide_CONFIG_EMAILS_GUIDESEMAIL_DESC" validate="email" />
		<field name="forumemail" type="email" label="com_waterways_guide_CONFIG_EMAILS_FORUMEMAIL_LABEL" description="com_waterways_guide_CONFIG_EMAILS_FORUMEMAIL_DESC" validate="email" />
		<field name="bulletinemail" type="email" label="com_waterways_guide_CONFIG_EMAILS_BULLETINEMAIL_LABEL" description="com_waterways_guide_CONFIG_EMAILS_BULLETINEMAIL_DESC" validate="email" />
		<field name="membershipemail" type="email" label="com_waterways_guide_CONFIG_EMAILS_MEMBERSHIPEMAIL_LABEL" description="com_waterways_guide_CONFIG_EMAILS_MEMBERSHIPEMAIL_DESC" validate="email" />
		<field name="supportemail" type="email" label="com_waterways_guide_CONFIG_EMAILS_SUPPORTEMAIL_LABEL" description="com_waterways_guide_CONFIG_EMAILS_SUPPORTEMAIL_DESC" validate="email" />
		<field name="feedbackemail" type="email" label="com_waterways_guide_CONFIG_EMAILS_FEEDBACKEMAIL_LABEL" description="com_waterways_guide_CONFIG_EMAILS_FEEDBACKEMAIL_DESC" validate="email" />
		<field name="registrationemail" type="email" label="com_waterways_guide_CONFIG_EMAILS_REGISTRATIONEMAIL_LABEL" description="com_waterways_guide_CONFIG_EMAILS_REGISTRATIONEMAIL_DESC" validate="email" />
		<field name="eventsemail" type="email" label="com_waterways_guide_CONFIG_EMAILS_EVENTSEMAIL_LABEL" description="com_waterways_guide_CONFIG_EMAILS_EVENTSEMAIL_DESC" validate="email" />
		<field name="linksemail" type="email" label="com_waterways_guide_CONFIG_EMAILS_LINKSEMAIL_LABEL" description="com_waterways_guide_CONFIG_EMAILS_LINKSEMAIL_DESC" validate="email" />
		<field name="webmasteremail" type="email" label="com_waterways_guide_CONFIG_EMAILS_WEBMASTEREMAIL_LABEL" description="com_waterways_guide_CONFIG_EMAILS_WEBMASTEREMAIL_DESC" validate="email" />
		<field name="classifiedemail" type="email" label="com_waterways_guide_CONFIG_EMAILS_CLASSIFIEDEMAIL_LABEL" description="com_waterways_guide_CONFIG_EMAILS_CLASSIFIEDEMAIL_DESC" validate="email" />
		<field type="spacer" hr="true" />
		<field name="contactus" type="text" label="com_waterways_guide_CONFIG_EMAILS_CONTACTUS_LABEL" description="com_waterways_guide_CONFIG_EMAILS_CONTACTUS_DESC" filter="safehtml" class="input-xxlarge" />
	</fieldset>

	<fieldset name="variables"
		label="com_waterways_guide_CONFIG_VARIABLES_LABEL"
		description="com_waterways_guide_CONFIG_VARIABLES_DESC"
	>
		<field name="variable" type="list" label="com_waterways_guide_CONFIG_VARIABLES_SHOW_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_SHOW_DESC">
			<option value="">com_waterways_guide_CONFIG_VARIABLES_SHOW_NONE</option>
			<option value="27">com_waterways_guide_CONFIG_VARIABLES_HEADER2_LABEL</option>
			<option value="11">com_waterways_guide_CONFIG_VARIABLES_MOORINGSGUIDEDOCINTROTEXT_LABEL</option>
			<option value="12">com_waterways_guide_CONFIG_VARIABLES_MOORINGSGUIDESECTIONINTROTEXT_LABEL</option>
			<option value="13">com_waterways_guide_CONFIG_VARIABLES_CLASSIFIEDSECTIONINTROTEXT_LABEL</option>
			<option value="14">com_waterways_guide_CONFIG_VARIABLES_SHOPINTRO_LABEL</option>
			<option value="1">com_waterways_guide_CONFIG_VARIABLES_MEMBERSHIP_ADDRESS_LABEL</option>
			<option value="2">com_waterways_guide_CONFIG_VARIABLES_MEMBERSHIP_SIGNATURE_LABEL</option>
			<option value="7">com_waterways_guide_CONFIG_VARIABLES_COPYRIGHT_GUIDES_LABEL</option>
			<option value="9">com_waterways_guide_CONFIG_VARIABLES_MESSAGE_GUIDES_LABEL</option>
			<option value="10">com_waterways_guide_CONFIG_VARIABLES_MESSAGE_INDEX_LABEL</option>
			<option value="15">com_waterways_guide_CONFIG_VARIABLES_MEMBERSHIPMAILADDRESS_LABEL</option>
			<option value="16">com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_CC_LABEL</option>
			<option value="17">com_waterways_guide_CONFIG_VARIABLES_THANKSFORPAYMENT_CC_LABEL</option>
			<option value="22">com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWING_CC_LABEL</option>
			<option value="23">com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWINGPAYMENT_CC_LABEL</option>
			<option value="18">com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_DD_LABEL</option>
			<option value="24">com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWING_DD_LABEL</option>
			<option value="19">com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_SO_LABEL</option>
			<option value="25">com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWING_SO_LABEL</option>
			<option value="20">com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_CH_LABEL</option>
			<option value="26">com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWING_CH_LABEL</option>
			<option value="21">com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_FOC_LABEL</option>
			<option value="3">com_waterways_guide_CONFIG_VARIABLES_FOOTER1_LABEL</option>
			<option value="28">com_waterways_guide_CONFIG_VARIABLES_FOOTER2_LABEL</option>
			<option value="29">com_waterways_guide_CONFIG_VARIABLES_FOOTER3_LABEL</option>
			<option value="4">com_waterways_guide_CONFIG_VARIABLES_EMAILFOOTER_LABEL</option>
			<option value="5">com_waterways_guide_CONFIG_VARIABLES_FOOTERASSETCONTACTEMAIL_LABEL</option>
			<option value="8">com_waterways_guide_CONFIG_VARIABLES_FOOTERGUIDE_LABEL</option>
			<option value="30">com_waterways_guide_CONFIG_VARIABLES_ADOBEHELP_LABEL</option>
		</field>
		<field name="membership_address" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_MEMBERSHIP_ADDRESS_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_MEMBERSHIP_ADDRESS_DESC" filter="safehtml" showon="variable:1" />
		<field name="membership_signature" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_MEMBERSHIP_SIGNATURE_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_MEMBERSHIP_SIGNATURE_DESC" filter="safehtml" showon="variable:2" />
		<field name="footer1" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_FOOTER1_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_FOOTER1_DESC" filter="safehtml" showon="variable:3" />
		<field name="emailfooter" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_EMAILFOOTER_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_EMAILFOOTER_DESC" filter="safehtml" showon="variable:4" />
		<field name="footerassetcontactemail" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_FOOTERASSETCONTACTEMAIL_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_FOOTERASSETCONTACTEMAIL_DESC" filter="safehtml" showon="variable:5" />
		<field name="copyright_guides" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_COPYRIGHT_GUIDES_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_COPYRIGHT_GUIDES_DESC" filter="safehtml" showon="variable:7" />
		<field name="footerguide" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_FOOTERGUIDE_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_FOOTERGUIDE_DESC" filter="safehtml" showon="variable:8" />
		<field name="message_guides" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_MESSAGE_GUIDES_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_MESSAGE_GUIDES_DESC" filter="safehtml" showon="variable:9" />
		<field name="message_index" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_MESSAGE_INDEX_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_MESSAGE_INDEX_DESC" filter="safehtml" showon="variable:10" />
		<field name="mooringsguidedocintrotext" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_MOORINGSGUIDEDOCINTROTEXT_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_MOORINGSGUIDEDOCINTROTEXT_DESC" filter="safehtml" showon="variable:11" />
		<field name="mooringsguidesectionintrotext" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_MOORINGSGUIDESECTIONINTROTEXT_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_MOORINGSGUIDESECTIONINTROTEXT_DESC" filter="safehtml" showon="variable:12" />
		<field name="classifiedsectionintrotext" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_CLASSIFIEDSECTIONINTROTEXT_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_CLASSIFIEDSECTIONINTROTEXT_DESC" filter="safehtml" showon="variable:13" />
		<field name="shopintro" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_SHOPINTRO_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_SHOPINTRO_DESC" filter="safehtml" showon="variable:14" />
		<field name="membershipmailaddress" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_MEMBERSHIPMAILADDRESS_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_MEMBERSHIPMAILADDRESS_DESC" filter="safehtml" showon="variable:15" />
		<field name="thanksforsubscribing_cc" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_CC_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_CC_DESC" filter="safehtml" showon="variable:16" />
		<field name="thanksforpayment_cc" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_THANKSFORPAYMENT_CC_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_THANKSFORPAYMENT_CC_DESC" filter="safehtml" showon="variable:17" />
		<field name="thanksforsubscribing_dd" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_DD_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_DD_DESC" filter="safehtml" showon="variable:18" />
		<field name="thanksforsubscribing_so" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_SO_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_SO_DESC" filter="safehtml" showon="variable:19" />
		<field name="thanksforsubscribing_ch" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_CH_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_CH_DESC" filter="safehtml" showon="variable:20" />
		<field name="thanksforsubscribing_foc" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_FOC_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_THANKSFORSUBSCRIBING_FOC_DESC" filter="safehtml" showon="variable:21" />
		<field name="thanksforrenewing_cc" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWING_CC_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWING_CC_DESC" filter="safehtml" showon="variable:22" />
		<field name="thanksforrenewingpayment_cc" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWINGPAYMENT_CC_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWINGPAYMENT_CC_DESC" filter="safehtml" showon="variable:23" />
		<field name="thanksforrenewing_dd" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWING_DD_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWING_DD_DESC" filter="safehtml" showon="variable:24" />
		<field name="thanksforrenewing_so" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWING_SO_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWING_SO_DESC" filter="safehtml" showon="variable:25" />
		<field name="thanksforrenewing_ch" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWING_CH_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_THANKSFORRENEWING_CH_DESC" filter="safehtml" showon="variable:26" />
		<field name="header2" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_HEADER2_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_HEADER2_DESC" filter="safehtml" showon="variable:27" />
		<field name="footer2" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_FOOTER2_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_FOOTER2_DESC" filter="safehtml" showon="variable:28" />
		<field name="footer3" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_FOOTER3_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_FOOTER3_DESC" filter="safehtml" showon="variable:29" />
		<field name="adobehelp" type="editor" label="com_waterways_guide_CONFIG_VARIABLES_ADOBEHELP_LABEL" description="com_waterways_guide_CONFIG_VARIABLES_ADOBEHELP_DESC" filter="safehtml" showon="variable:30" />
	</fieldset>
	
	<fieldset name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
	>

		<field name="rules" type="rules"
			component="com_waterways_guide"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>

</config>
